.entryInput {
    box-shadow: 3px 3px 0 0 #ccc;
}

.Entry {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding-top: 1rem;
}

.Entry > * {
    width: 95vw;
}

.Entry > :not(:first-child) {
    margin-top: 1rem;
}

