.slider-container {
    position: absolute;
    display: block;
    height: 100vh;
    /*noinspection CssInvalidPropertyValue*/
    height: -webkit-fill-available;
    transform: translateX(-100%);
    background: white;
    box-shadow: 3px 3px 5px 6px #ccc;
    z-index: 10000;
}

.slider-container > * {
    padding-left: 1vh;
    padding-right: 1vh;
}

.cancel {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    top: 0;
    left: 0;
}

.slide-in {
    animation: slide-in 0.5s forwards;
    -webkit-animation: slide-in 0.5s forwards;
}

.slide-in.fast {
    animation: slide-in 0.25s forwards;
    -webkit-animation: slide-in 0.25s forwards;
}

.slide-in.slow {
    animation: slide-in 0.75s forwards;
    -webkit-animation: slide-in 0.75s forwards;
}

@keyframes slide-in {
    100% {
        transform: translateX(0);
    }
}

@-webkit-keyframes slide-in {
    100% {
        -webkit-transform: translateX(0);
    }
}
